aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
bokeh
boltons
botocore
Bottleneck
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
daal4py==2023.1.1
dask
datasets
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
glob2
greenlet
h5py
HeapDict
holoviews
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl==3.0.10
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scikit-learn-intelex==20230426.121932
scipy==1.11.1
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard==0.19.0
