{% extends 'tenrr/base.html' %}
{% block title %}Buy Post{% endblock %}
{% block extra_css %}
<style>
    .buy-container {
        display: flex;
        gap: 20px; 
    }
    .post-container, .details-container {
        flex: 1;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }
    .details-header {
        margin-bottom: 10px;
    }
    .details-container textarea {
        flex-grow: 1; 
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc; 
        padding: 8px;
        width: 100%;
        box-sizing: border-box; 
    }
    .confirm-purchase-btn {
        display: block;
        width: fit-content;
        padding: 10px 20px;
        margin: 20px auto 0; /* Center the button and add space above */
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Buy Post:</h1>
    <div class="buy-container">
        <div class="post-container">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            <p>Price: £{{ post.price }}</p>
            <p>Posted by: {{ post.author.username }}</p>
        </div>
        <div class="details-container">
            <h4 class="details-header">Enter any notes to seller:</h4>
            <textarea placeholder="Your notes here..."></textarea>
        </div>
    </div>
    <form method="post" action="{% url 'tenrr:confirm_purchase' post.id %}">
        {% csrf_token %}
        <textarea name="buyer_note" placeholder="Add any notes for the seller here"></textarea>
        <button type="submit">Confirm Purchase</button>
    </form>
</div>
{% endblock %}